*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}
header{
     width: 100%;
     height: 150px;
     background-color: black;
     color: pink;
     align-items: center;
     /* justify-content: center; */
     justify-content: space-between;
     display: flex;
     padding: 20PX;
     position: fixed;
}
nav{
     display: flex;
     
}
nav li{
     list-style: none;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
}
nav li a{
     text-decoration: none;
     color: white;
     display: block;
     font-size: 25px;
     font-weight: bold;
     padding: 10px;
}
nav a:hover{
     color: black;
     background-color: pink;
     border-radius: 10px;
}
.dropdown{
     display: none;
     position: absolute;
     top: 100%;
     padding: 10px 18px;
     z-index: 2;
}
.dropdown li a{
     font-size: 15px;
}
nav li:hover .dropdown {
     background-color:white;
     display: block;
     color: black;
}



