main {
     width: 100%;
     height: 100%;
     /* background-color: pink; */
     display: flex;
}

.screen1 {
     width: 50%;
   /* height: 100%; */
    background-color: pink;
}

.screen1 img {
     width: 100%;
     height: 100%;
     
}

.Ep {
     width: 50%;
     height: 100%;
     background-color:darkred;
}
.Ep h2{
     color: black;
     font-size: 40px;
     font-weight: bold;
     text-align: center;
     font-weight: bold;
     margin-top: 10px;
     text-shadow:5px 7px 5px ;  
}
.Ep hr{
     margin-top: 15px;
     
}
.Ep .b1 h3{
     color: black;
     font-size: 35px;
}

.b1{
   width: 100%;
   height: 50px;
   /* background-color: pink;  */
   justify-content: center;
   /* display: flex;  */
   align-items: center;
   gap: 2px;
   padding-left: 10px;

}
.b1 h3{
    color: black;
    font-size: 20px;

}
.zoom{
     width: 100%;
     height: 100px;
     padding: 10px;
     margin: 10px;
     /* background-color: pink; */
     align-items: center;
     justify-content: center;
     display: flex;
     justify-content: space-around;
   
}
.zoom .z1{
     width: 100px;
     height: 50px;
     background-color:black;
     color: white;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.zoom .z2 {
     width: 100px;
     height: 50px;
     background-color: white;
     color: black;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.zoom .z3 {
     width: 100px;
     height: 50px;
     background-color: black;
     color: white;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.zoom .z4 {
     width: 100px;
     height: 50px;
     background-color: black;
     color: white;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.zoom .z5 {
     width: 100px;
     height: 50px;
     background-color: white;
     color: black;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.zoom .z6 {
     width: 100px;
     height: 50px;
     background-color: black;
     color: white;
     font-size: 15px;
     font-weight: bold;
     border-radius: 15px;
}
.b2{
     width: 100%;
     height: 250px;
     /* background-color: yellow; */
     display: flex;
     margin: 10px;
     
}
.b2 img{
     width: 400px;
     height: 250px;
     padding-left: 5px;
}
.b2 .A1{
     width: 100px;
     height: 50px;
     background-color: darkgrey;
     font-size: 20px;
     font-weight: bold;
     box-shadow: 2px 2px 2px;
     border-radius: 2px solid black;
     margin: 8px; 
}
.b3{
     width: 100%;
     height: 50px;
     background-color: darkred;
     
}
.b3 h1{

     font-size: 30px;
     font-weight: bold;
     color: black;
     text-align: center;
}
.b4 {
     width: 100%;
     height: 50px;
     background-color: darkred;

}
.b4 h1{
     font-size: 30px;
     font-weight: bold;
     color:black;
     text-align: center;
}



