/* main{
     width: 100%;
     height: 800px;
     background-color: pink;
     display: flex;
}
.screen1{
     width: 50%;
     height: 800px;
     background-color: aqua;
}
.screen1 img{
     width: 100%;
     height: 100%;
}
.Ep{
     width: 50%;
     height: 800px;
     background-color: darkgray;
}
 */





