main{
     width: 100%;
     height: 800px;
     /* background-color: pink; */
     display: flex;
}
.screen{
     width: 50%;
     height: 800px;
     /* background-color: aqua; */
}
.screen img{
     width: 100%;
     height: 100%;
}
.Ep{
     width: 50%;
     height: 800px;
     background-color: darkgray;
}






