fieldset{
     width: 100%;
     height: 500px;
     background-color: black;
     justify-content: space-evenly;
     align-items: center;
     display: flex;


}
.footer-container h2{
     color:palevioletred;
     font-size: 70px;
     font-weight: bold;
    
}
.footer-container ul{
     list-style: none;
     color: white;
}
.footer-container1 h2{
     color:palevioletred;
     font-size: 30px;
     font-weight: bold;
}

.footer-container1 ul {
     list-style: none;
     color: white;
}
.Register h2{
     color: palevioletred;
     font-size: 30px;
     font-weight: bold;
}
.Register label{
     color: skyblue;
}
.hr{
     color: skyblue;
     
}
footer{
     width: 100%;
     height: 100px;
     background-color: black;
     align-items: center;
     justify-content:space-between;
     display: flex;
    
}
h3{
     color: palevioletred;
}





