*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}
header{
     width: 100%;
     height: 100px;
    background-color: gray;
     color: black;
     padding: 0px 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     z-index: 999;
}
nav{
     display: flex;
}
nav li{
     list-style: none;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
}
nav li a{
     text-decoration: none;
     font-size: 20px;
     color: black;
     font-weight: bold;
     padding: 8px 15px;
     display: block;
}
nav li a:hover{
     background-color: black;
     color: white;
}
.dropdown{
     display: none;
     position: absolute;
     top: 100%;
     padding: 10px 18px;
     z-index: 2;
}
.dropdown li a{
     font-size: 15px;
}
nav li:hover .dropdown{
     background-color: white;
     display: block;
}